<div id="chatbot">


    <!-- Chatbot widget -->

    <div class="chatbot-box"
         [class.scale-in]="chatbotShow === true"
         [class.scale-out]="chatbotShow === false"
         [class.chatbot-hide]="chatbotShow === null || chatbotShow === false"
         [class.chatbot-show]="chatbotShow === true">
        <div class="chatbot-box-header" (click)="chatbotShow = false">
            <div class="chatbot-content-hide-when-animate">
                <span></span>
                <span>
                    Beerless
                </span>
                <span (click)="chatbotShow = false">
                    <i class="fas fa-times"></i>
                </span>
            </div>

        </div>
        <!--<ng-scrollbar>-->

        <div class="chatbot-box-body"
             [class.show-scrollbar]="showScrollbar"
             [class.hide-scrollbar]="showScrollbar === false">
            <div class="chatbot-content-hide-when-animate">


                <!-- messages -->

                <ng-container *ngFor="let messageArray of messagesArray">
                    <div class="answer">
                        <div class="message-item" *ngFor="let message of messageArray.messages"
                             [class.chatbot-message-item]="messageArray.type === 'chatbot'"
                             [class.user-message-item]="messageArray.type === 'user'">
                            {{message.message}}
                        </div>
                    </div>
                </ng-container>

              <div class="answer">
                <div class="message-item">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis culpa facere facilis fugiat sequi? Adipisci blanditiis, dolorum ea earum fuga impedit itaque laboriosam magnam modi numquam, odit, porro praesentium vel?
                </div>
              </div>
              <div class="answer">
                <div class="message-item">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis culpa facere facilis fugiat sequi? Adipisci blanditiis, dolorum ea earum fuga impedit itaque laboriosam magnam modi numquam, odit, porro praesentium vel?
                </div>
              </div>
              <div class="answer">
                <div class="message-item">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis culpa facere facilis fugiat sequi? Adipisci blanditiis, dolorum ea earum fuga impedit itaque laboriosam magnam modi numquam, odit, porro praesentium vel?
                </div>
              </div>
              <div class="answer">
                <div class="message-item">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis culpa facere facilis fugiat sequi? Adipisci blanditiis, dolorum ea earum fuga impedit itaque laboriosam magnam modi numquam, odit, porro praesentium vel?
                </div>
              </div>
              <div class="answer">
                <div class="message-item">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis culpa facere facilis fugiat sequi? Adipisci blanditiis, dolorum ea earum fuga impedit itaque laboriosam magnam modi numquam, odit, porro praesentium vel?
                </div>
              </div><div class="answer">
              <div class="message-item">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis culpa facere facilis fugiat sequi? Adipisci blanditiis, dolorum ea earum fuga impedit itaque laboriosam magnam modi numquam, odit, porro praesentium vel?
              </div>
            </div>


            </div>
        </div>
        <!--</ng-scrollbar>-->

        <div class="chatbot-box-footer">

            <div class="chatbot-content-hide-when-animate">


                <!-- extra -->

                <span id="chatbot-box-plus">
                    <i class="fas fa-plus"></i>
                    <div class="extra-hover">
                        <div>
                            <i class="far fa-smile-beam"></i>
                        </div>
                        <span class="vertical-line"></span>
                        <div>
                            <i class="fas fa-paperclip"></i>
                        </div>
                    </div>
                </span>


                <!-- input -->

                <div data-ph="Type something..." id="chatbot-box-input" class="textarea" contenteditable
                     (keyup.enter)="sendMessage(chatbotInput.textContent); chatbotInput.innerHTML = ''"
                     #chatbotInput></div>


                <!-- send message -->

                <span id="chatbot-box-send">
                    <i class="fas fa-paper-plane"></i>
                </span>

            </div>


        </div>

    </div>


    <!-- Chatbot button -->

    <div class="chatbot-button" (click)="open()">
        Beerless <i class="fas fa-comment-alt ml-2"></i>
    </div>
</div>
