<div id="chatbot"
     [class.full-width]="chatbotShow">


    <!-- Chatbot widget -->

    <div class="chatbot-box"
         [class.scale-in]="chatbotShow"
         [class.scale-out]="!chatbotShow"
         [class.chatbot-hide]="chatbotShow === null || !chatbotShow"
         [class.chatbot-show]="chatbotShow">


        <!-- Chatbot header -->

        <div class="chatbot-box-header" (click)="close()">
            <div class="chatbot-content-hide-when-animate">
                <span></span>
                <span>
                    Beerless
                </span>
                <span (click)="close()">
                    <i class="fas fa-times"></i>
                </span>
            </div>

        </div>


        <!-- Chatbot body -->

        <div class="chatbot-box-body"
             [class.show-scrollbar]="showScrollbar"
             [class.hide-scrollbar]="!showScrollbar"
             #chatbotContent>
            <div class="chatbot-content-hide-when-animate" #chatbotBody>


                <!-- show older messages from session -->

                <div class="button-old-messages">
                    <a class="btn btn-outline-primary"
                        (click)="showOlderMessages()"
                        [hidden]="showOldMessages || isNewSession">
                        Show older messages
                    </a>
                </div>


                <!-- messages -->

                <ng-container *ngFor="let messageArray of messagesArray">
                    <div class="answer"
                         [class.right]="messageArray['type'] === 'user'"
                         [class.hideMessages]="messageArray['oldMessages'] === true"
                         [class.showMessages]="showOldMessages">
                        <app-messages [delay]="delay"  [messageObject]="messageArray"></app-messages>
                    </div>
                </ng-container>
            </div>
        </div>


        <!-- Chatbot extra modal -->

        <div class="chatbot-content-hide-when-animate">
            <div class="chatbot-extra-container" *ngIf="showExtra" (click)="showExtra = !showExtra"></div>
            <div class="chatbot-extra" *ngIf="showExtra">
                <div class="chatbot-extra-box">
                    <ng-container *ngIf="showEmoticons">
                        <app-emoticons #emoticonsComponent></app-emoticons>
                    </ng-container>
                    <ng-container *ngIf="showUpload">
                        <app-upload #uploadComponent></app-upload>
                    </ng-container>
                </div>
            </div>
        </div>


        <!-- Chatbot footer -->

        <div class="chatbot-box-footer">
            <div class="chatbot-content-hide-when-animate">


                <!-- extra -->

                <app-extra></app-extra>


                <!-- input -->

                <div data-ph="Type something..." id="chatbot-box-input" class="textarea" contenteditable
                     (keydown.enter)="replaceTextWithEmoticon(chatbotInput.innerHTML)"
                     (keyup.enter)="sendMessage(chatbotInput.textContent); chatbotInput.innerHTML = null"
                     (mouseup)="getSelectedText()"
                     (blur)="getSelectedText()"
                     (keyup.control.a)="getSelectedText()"
                     (keyup.space)="replaceTextWithEmoticon(chatbotInput.innerHTML)"
                     #chatbotInput></div>


                <!-- send messages -->

                <span id="chatbot-box-send"
                      (click)="replaceTextWithEmoticon(chatbotInput.innerHTML); sendMessage(chatbotInput.textContent); chatbotInput.innerHTML = null">
                    <i class="fas fa-paper-plane"></i>
                </span>
            </div>
        </div>
    </div>


    <!-- Chatbot button -->

    <div class="chatbot-button" (click)="toggle()">
        Beerless <i class="fas fa-comment-alt ml-2"></i>
    </div>
</div>
