<a routerLink="/beers/{{item?.id}}" class="link-black-yellow">
    <div class="card mb-2 card-hover">
        <div class="card-body p-4 d-flex align-items-center">
            <div class="pr-4">
                <img src="{{environment.imageURL + 'beer/logo/' + item?.logo}}" alt="logo {{item?.name}}"
                     class="beer-item-image">
            </div>
            <div class="mr-4">
                <a routerLink="/beers/{{item?.id}}" class="link-black-yellow font-weight-bold m-0">{{item?.name}}</a>
                <p class="my-0 small text-dark" *ngIf="item?.breweries?.length > 0">
                    <ng-container *ngFor="let brewery of item?.breweries; let i = index">
                        <!--<a routerLink="/breweries/{{brewery?.id}}" class="link-black-yellow">-->
                        {{brewery?.name}}<span *ngIf="(i + 1) !== item?.breweries?.length">,&nbsp;</span>
                        <!--</a>-->
                    </ng-container>
                </p>
                <p class="text-grey m-0 small" *ngIf="item?.styleTags?.length > 0">
                    <ng-container *ngFor="let styleTag of item?.styleTags">
                        {{styleTag.name}}
                    </ng-container>
                </p>
            </div>
            <a class="ml-auto"><i class="fas fa-arrow-circle-right mouse-pointer"></i></a>
        </div>
    </div>
</a>

<!--<div class="card mb-2" *ngIf="item">-->
<!--<div class="card-body p-4 d-flex align-items-center">-->
<!--<div class="pr-4">-->
<!--<div class="skeleton-square"></div>-->
<!--</div>-->
<!--<div class="w-100">-->
<!--<div class="skeleton-line" style="height: 1rem; width: 80%"></div>-->
<!--<div class="skeleton-line" style="height: 0.8rem; width: 35%"></div>-->
<!--<div class="skeleton-line" style="height: 0.8rem; width: 25%"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
