<div class="card card-sm-100w favourite-beer">
    <div class="card-body">
        <p class="small text-uppercase text-primary font-weight-bold mb-4 pb-0">Favourite beer <i
            class="fas fa-heart ml-1"></i></p>
        <div class="d-flex flex-row align-items-center justify-content-between">
            <div class="">
                <a [routerLink]="'/beers/' + user?.favouriteBeer?.id" class="link-black-yellow">
                    <h4 class="font-weight-bold d-md-block d-none">{{user?.favouriteBeer?.name}}</h4>
                    <h6 class="font-weight-bold d-md-none d-block">{{user?.favouriteBeer?.name}}</h6>
                </a>
                <a routerLink="" class="link-muted-yellow">{{user?.favouriteBeer?.breweries[0]?.name}}</a>
            </div>
            <div class="d-flex justify-content-end">
                <img
                    [src]="environment.imageURL + '/beer/logo/' + user?.favouriteBeer?.logo"
                    alt="Logo bierflesje" class="image-beer-profile beer-item-image">
            </div>
        </div>
    </div>
</div>
