<div class="clearfix">
    <tabset type="pills">
        <tab heading="Static title hoi hoi" customClass="tabset">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab
            adipisci aliquid animi architecto, cum cupiditate deserunt dolores ex ipsum labore libero magni molestias
            nesciunt nihil quidem quod voluptas voluptate voluptatem? Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Illum laborum, neque nesciunt repellat sequi totam unde voluptates. Ad amet aut,
            blanditiis eligendi eos, fugit impedit ipsum reprehenderit similique veritatis, vero!
        </tab>
        <tab heading="Static title" customClass="tabset">Static content 2</tab>
        <tab heading="Static title" customClass="tabset">Static content 3</tab>
    </tabset>
</div>