<div class="card border-yellow-top p-0 border-sm-0">
    <div class="card-body p-sm-5 p-4 pt-5">
        <div class="flex-row position-relative">


            <!-- Sign in form -->

            <h4 class="mb-3 font-weight-bold text-primary">Sign in</h4>

            <div *ngIf="!showRemembered">
                <app-signin-manual-form></app-signin-manual-form>
            </div>
            <div *ngIf="showRemembered" class="remembered-form mt-5">
                <app-signin-remember-form></app-signin-remember-form>
            </div>
        </div>
    </div>
</div>
