<div *ngIf="showMessage || type === 'user'">
    <div
        [class.message-item]="!isComponent && message['type'] !== 'image' && message['type'] !== 'elements' && message['type'] !== 'location'"
        [class.component-item]="isComponent"
        [class.image-item]="message['type'] === 'image'"
        [class.location-item]="message['type'] === 'location'"
        [class.chatbot-message-item]="type === 'chatbot'"
        [class.takeover-message-item]="type === 'takeover'"
        [class.user-message-item]="type === 'user'"
        [class.right]="type === 'user'">

        <!-- regular message -->
        <span *ngIf="message['type'] === 'text'" [ngbCollapse]="isComponent" [innerHTML]="text | safeHTML"></span>

        <!-- components -->
        <span #component></span>

        <!-- url  -->
        <a href="{{src}}" target="_blank" *ngIf="message['type'] === 'url'">{{text}}</a>

        <!-- image -->
        <img src="{{src}}" alt="" *ngIf="message['type'] === 'image'">

        <!-- location -->
        <ng-container *ngIf="message['type'] === 'location'">
            <div>{{text}}</div>
            <iframe [src]="src | safeURL" frameborder="0" allowfullscreen></iframe>
        </ng-container>
    </div>

    <div *ngIf="message['type'] === 'elements'" class="chatbot-carousel-container">
        <drag-scroll class="chatbot-carousel" style="width: 100%; height: 100%"
                     [scrollbar-hidden]="true"
                     [snap-disabled]="true"
                     #nav>
            <!-- carousel -->
            <ng-container *ngIf="message['type'] === 'elements'">
                <ng-container *ngFor="let element of message['elements']['items']">
                    <div drag-scroll-item class="card chatbot-carousel-card">
                        <div class="card-img-top" [style.background-image]="'url(' + element['image_url'] + ')'"></div>
                        <div class="card-body">
                            <div class="card-body-text">
                                <a routerLink="{{ 'beers/' + element['buttons'][0]['action'] }}">
                                    <h5 class="card-title">{{ element['title'] }}</h5>
                                </a>
                                <p class="card-text">
                                    <beerless-text-truncate [text]="element['subtitle']" [limit]="150"
                                                       [truncateSymbol]="'...'"></beerless-text-truncate>
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </drag-scroll>
        <i class="fas fa-chevron-left arrow-left" (click)="moveLeft()"></i>
        <i class="fas fa-chevron-right arrow-right" (click)="moveRight()"></i>
    </div>
</div>
