<div class="blank-page py-3">
    <div class="d-flex align-items-center" id="login">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="col-12 px-0 position-relative d-flex justify-content-center align-items-center flex-wrap">
                <div class="background-card container px-0 col-12">


                    <!-- Background information from signup form -->

                    <app-signup-background-card></app-signup-background-card>
                </div>


                <!-- Signup form -->

                <div class="col-lg-6 col-12 ml-auto mr-lg-5 mr-0 px-0">
                    <app-signup-form></app-signup-form>
                </div>
            </div>
        </div>
    </div>
</div>
