<div class="nav-mobile" *ngIf="showNav">
    <div>
        <a class="nav-mobile-item" (click)="openSubmenu('user')">
            <i class="fas fa-user"></i>
        </a>
        <div class="nav-mobile-submenu" [hidden]="submenu != 'user'" (click)="hideAllSubmenu()">
            <a class="nav-mobile-submenu-item" routerLink="/user/{{user.username}}">
                Profile
            </a>
            <!--<a routerLink="/user/wishlist/{{user?.ID}}" class="nav-mobile-submenu-item">-->
                <!--Wishlist-->
            <!--</a>-->
            <a routerLink="/user/settings" class="nav-mobile-submenu-item">
                Settings
            </a>
            <a class="nav-mobile-submenu-item" (click)="logOut()" [hidden]="!user">
                Sign-out
            </a>
            <a routerLink="/login" class="nav-mobile-submenu-item" [hidden]="user">
                Sign-in
            </a>
        </div>
    </div>
    <div>
        <a routerLink="/search" class="nav-mobile-item" (click)="hideAllSubmenu()">
            <i class="fas fa-search"></i>
        </a>
    </div>
    <div>
        <a routerLink="/blog" class="nav-mobile-item" (click)="hideAllSubmenu()">
            <i class="fas fa-newspaper"></i>
        </a>
    </div>
</div>
