<!-- SIDE NAVIGATION -->
<div class="position-fixed bg-white sidenav navbar-light shadow-lg py-4" [ngbCollapse]="isCollapsed"
     (click)="isCollapsed = !isCollapsed">
    <div class="navbar-nav ml-4">
        <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="nav-item nav-link" routerLink="/beers" routerLinkActive="active">Bieren</a>
        <a class="nav-item nav-link" routerLink="/brouwerijen" routerLinkActive="active">Brouwerijen</a>
        <a class="nav-item nav-link" routerLink="/blog" routerLinkActive="active">Blog</a>
    </div>
    <div class="divider my-4"></div>
    <div class="navbar-nav ml-4">
        <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active"><i
                class="fas fa-user-circle mr-2"></i> Log in</a>
        <a class="nav-item nav-link" routerLink="/help" routerLinkActive="active"><i class="fas fa-question mr-2"></i>
            Help</a>
    </div>
</div>
<div class="sidenav-overlay position-fixed" [ngbCollapse]="isCollapsed" (click)="isCollapsed = !isCollapsed"></div>

<!-- MAIN NAVIGATION -->
<nav class="navbar navbar-expand-lg navbar-light px-4 py-0 bg-white fixed-top">
    <a class="navbar-brand ml-2" routerLink="/home"><img src="/src/assets/images/logo_beerless_donker.svg" alt=""
                                                         style="height: 30px" class=""/></a>
    <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
            (click)="isCollapsed = !isCollapsed">
        <i class="fas fa-bars text-dark" [ngbCollapse]="!isCollapsed"></i>
        <i class="fas fa-times text-dark" [ngbCollapse]="isCollapsed"></i>
    </button>
    <div class="collapse navbar-collapse my-0" id="navbarNavAltMarkup">
        <div class="ml-auto row h-100">
            <div class="navbar-nav position-relative d-flex align-items-center">
                <a class="nav-item nav-link nav-link-padding" routerLink="/home" routerLinkActive="active">Home</a>
                <a class="nav-item nav-link nav-link-padding" routerLink="/beers" routerLinkActive="active">Bieren</a>
                <a class="nav-item nav-link nav-link-padding" routerLink="/brouwerijen" routerLinkActive="active">Brouwerijen</a>
                <a class="nav-item nav-link nav-link-padding" routerLink="/blog" routerLinkActive="active">Blog</a>
                <div class="nav-divider"></div>
            </div>
            <div class="navbar-nav ml-2rem mr-2 d-flex align-items-center">
                <a *ngIf="!user" class="nav-item nav-link" routerLink="/login" routerLinkActive="active"><i
                        class="fas fa-user-circle"></i></a>
                <a *ngIf="user" class="nav-item nav-link mouse-pointer" routerLinkActive="active">
                    <img src="{{user.picture}}" alt="" class="navbar-profile-picture">
                    <span class="ml-2 small font-weight-bold text-grey-dark"
                          [hidden]="!user.firstName || !user.lastName">{{user.firstName}} {{user.lastName}}</span>
                    <span class="ml-2 small font-weight-bold" [hidden]="user.firstName && user.lastName">{{user.username}}</span>

                    <div class="nav-submenu">
                        <a class="nav-item nav-link nav-link-padding" routerLink="/user/profile/{{user.ID}}"
                           routerLinkActive="active">Profiel</a>
                        <a class="nav-item nav-link nav-link-padding" routerLink="/user/wishlist/{{user.ID}}"
                           routerLinkActive="active">Wishlist</a>
                        <a class="nav-item nav-link nav-link-padding" routerLink="/user/settings"
                           routerLinkActive="active">Instellingen</a>
                        <a class="nav-item nav-link nav-link-padding" (click)="logout()" routerLinkActive="active">Uitloggen</a>
                    </div>
                </a>
                <a class="nav-item nav-link" routerLink="/help" routerLinkActive="active"><i
                        class="fas fa-question"></i></a>
            </div>
        </div>
    </div>
</nav>
