<div class="user-profile-cover-picture-container position-relative"
     [class.user-profile-cover-picture-container-scroll]="coverTopMargin">
    <div class="user-profile-cover-picture" [style.background-image]="'url(' + environment.imageURL + '/backgrounds/home_hero_extended.jpg)'">
        <div class="user-profile-cover-picture-gradient"></div>
        <div class="d-lg-none d-block d-flex justify-content-center">
            <div id="user-profile-picture-small">
                <div class="picture" [style.background-image]="'url(' + user?.picture + ')'"></div>
            </div>
        </div>
    </div>
</div>
