<form novalidate [formGroup]="formLoginRemembered" (ngSubmit)="signIn()">


    <!-- User photo -->

    <div class="mb-4 d-flex justify-content-center">
        <img src="https://avatars.dicebear.com/v2/identicon/0.f28gvywjm4o.svg" alt="profile picture"
             class="rounded-circle border">
    </div>


    <!-- Input fields -->

    <div class="form-group mb-3">
        <input type="text" class="form-control input-center" placeholder="Username"
                   formControlName="username" id="usernameLoginRemembered" readonly>
    </div>

    <beerless-input [id]="'passwordLoginRemembered'" [type]="'password'" [label]="'Password'"
                    [formControl]="formLoginRemembered.get('password')"
                    [errorTypes]="['required']"
                    [errorMessages]="['Enter your password!']"
                    formControlName="password"
    ></beerless-input>


    <!-- Server side error messages -->

    <beerless-server-side-messages [messages]="serverSideMessages"></beerless-server-side-messages>

    <!--<p class="invalid-input text-center" *ngFor="let msg of messageLogin">{{msg}}</p>-->


    <!-- Submit button -->

    <div class="form-group text-center">
        <button class="btn btn-primary text-white px-5" type="submit"
                [disabled]="formLoginRemembered.invalid">Sign in
        </button>
    </div>


    <!-- Link to sign up -->

    <p class="text-center small">
        <span class="d-block">
            Lost password?
            <strong>
                <a routerLink="/reset">Reset password</a>
            </strong>
        </span>
    </p>
</form>

