<div class="card col-12 px-0 mb-lg-0 mb-3">
    <div class="card-body p-sm-5 p-4">
        <div class="col-lg-5 col-12 px-0 ml-auto">
            <h2 class="mb-4"><strong>Welkom terug!</strong></h2>
            Log je automatisch in door op je foto te klikken of handmatig door je gebruikersnaam en wachtwoord in te
            geven.


            <!-- Auto sign in card -->

            <div class="card auto-sign-in d-flex flex-row align-items-center mouse-pointer card-hover" (click)="signIn()">
                <img src="/src/assets/images/profielfoto_tom_nuyts.jpg" alt="profielfoto"
                     class="navbar-profile-picture rounded-circle">
                <div class="d-flex align-items-center w-100">
                    <span class="ml-3 font-weight-bold">Tom Nuyts</span>
                    <i class="fas fa-sign-in-alt text-grey-dark ml-auto"></i>
                </div>
            </div>
        </div>
        <a href="https://nl.freepik.com/vrije-vector/koud-bier-achtergrond_1536383.htm" class="credit-link-white">
            Designed by Freepik
        </a>
    </div>
</div>
