<div class="page-header">
    <div class="container-no-m">
        <span class="page-header-title">Search</span>
    </div>
</div>
<div class="bg-super-light">
    <div class="container">
        <div class="col-12 p-0 d-flex flex-md-row flex-column mb-2">
            <div class="col-md-8 col-12 p-0 pr-md-3 pr-0 order-md-0 order-1 position-relative">
                <app-search-bar [totalResults]="searchResultsTotal"></app-search-bar>
            </div>


            <!-- Add beer button -->

            <div class="mb-1 col-md-4 col-12 p-0 pl-md-3 pl-0 mb-md-0 mb-4 order-md-1 order-0">
                <beerless-link-button [routerLink]="'/beers/add'" [queryParams]="{name: q}"
                                      [class]="'btn d-flex btn-primary text-white'">
                    <i class="fas fa-plus my-auto mr-3"></i>
                    <span class="d-lg-block d-none">Add new beer</span>
                    <span class="d-lg-none d-block">Add beer</span>
                </beerless-link-button>
            </div>
        </div>


        <!-- Search result space -->


        <div class="col-12 d-flex flex-wrap p-0">
            <div class="col-md-8 col-12 pl-0 pr-md-3 pr-0 pt-5 d-flex flex-column" #resultScroll>
                <app-search-results [searchResult]="searchResults" [searchResultsTotal]="searchResultsTotal" [q]="q"></app-search-results>
            </div>

            <div class="col-md-4 col-12 pl-md-3 pl-0 pr-0 pt-5">
                <app-beers-sidebar></app-beers-sidebar>
            </div>

        </div>


    </div>
</div>
