<div class="page-header">
    <div class="container-no-m">
        <span class="page-header-title">{{brewery?.name}}</span>
    </div>
</div>
<div>
    <div class="container">
        <div class="col-12 d-flex flex-md-row flex-column p-0">
            <div class="col-lg-9 col-md-8 col-12 pl-0 pr-md-3 pr-0">
                <app-breweryprofile [item]="brewery"></app-breweryprofile>
                <ng-container
                    *ngIf="brewery?.streetAndNumber && (brewery?.place || brewery?.province || brewery?.country)">
                    <div class="mt-5">
                        <app-brewery-location [streetAndNumber]="brewery?.streetAndNumber" [place]="brewery?.place"
                                              [postcode]="brewery?.postcode" [province]="brewery?.province"
                                              [country]="brewery?.country"></app-brewery-location>
                    </div>
                </ng-container>
            </div>
            <div class="col-lg-3 col-md-4 col-12 pr-0 pl-md-3 pl-0">
                <app-brewerybeerprofile *ngIf="brewery?.beers" [item]="brewery?.beers"></app-brewerybeerprofile>
            </div>
        </div>
    </div>
</div>
