<div class="page-header">
    <div class="container-no-m">
        <span class="page-header-title">{{brewery?.name}}</span>
    </div>
</div>
<div>
    <div class="container">
        <div class="col-12 d-flex flex-md-row flex-column p-0">
            <div class="col-md-9 col-12 pl-md-0 px-0">
                <app-breweryprofile [item]="brewery"></app-breweryprofile>
            </div>
            <div class="col-lg-3 col-md-4 col-12 pr-0 pl-md-3 pl-0">
                    <app-brewerybeerprofile *ngIf="brewery?.beers" [item]="brewery?.beers"></app-brewerybeerprofile>
            </div>
        </div>
    </div>
</div>