<form novalidate [formGroup]="formLogin" (ngSubmit)="signIn()">

    <!-- Input fields -->


    <beerless-input [id]="'usernameLogin'" [type]="'text'" [label]="'Username or email'"
                    [formControl]="formLogin.get('username')"
                    [errorTypes]="['required']"
                    [errorMessages]="['Enter your username or email!']"
                    formControlName="username"
    ></beerless-input>

    <beerless-input [id]="'passwordLogin'" [type]="'password'" [label]="'Password'"
                    [formControl]="formLogin.get('password')"
                    [errorTypes]="['required']"
                    [errorMessages]="['Enter your password!']"
                    formControlName="password"
    ></beerless-input>


    <!-- Server side error messages -->

    <beerless-server-side-messages [messages]="serverSideMessages"></beerless-server-side-messages>


    <!-- Submit button -->

    <div class="form-group text-center">
        <button class="btn btn-primary text-white px-5" type="submit"
                [disabled]="formLogin.invalid">Sign in
        </button>
    </div>


    <!-- Link to sign up -->

    <p class="text-center small">
        <span class="d-block">
            Lost password?
            <strong>
                <a routerLink="/reset">Reset password</a>
            </strong>
        </span>
        <span class="d-block">
            Don't have an account yet?
            <strong>
                <a routerLink="/sign-up">Sign up</a>
            </strong>
        </span>
    </p>


    <!-- Social login -->

    <div class="divider my-5">
        <div class="divider-text-circle">OR</div>
    </div>
    <div class="form-group">
        <a [href]="environment.backendBaseUrl + 'auth/facebook'" class="btn btn-facebook text-white d-block"><i
            class="fab fa-facebook-f mr-3"></i> Sign in with <strong>Facebook</strong></a>
    </div>
    <div class="form-group">
        <a [href]="environment.backendBaseUrl + 'auth/google'" class="btn btn-google text-white d-block"><i
            class="fab fa-google mr-3"></i> Sign in with <strong>Google</strong></a>
    </div>


    <!-- Server side error messages -->

    <beerless-server-side-messages [messages]="socialErrorMessages"></beerless-server-side-messages>
</form>
