<div class="page-header">
    <div class="container-no-m">
        <span class="page-header-title">Account settings</span>
    </div>
</div>
<div class="container pb-5">
    <tabset id="tabset-tabs">
        <tab heading="Profile" id="settings-users-profile">
            <app-settings-profile [user]="user" *ngIf="user"></app-settings-profile>
        </tab>
        <tab heading="Social" id="settings-users-social">
            <!--haha-->
        </tab>
        <tab heading="Privacy" id="settings-users-privacy">
            <!--haha-->
        </tab>
    </tabset>
</div>
