body {
  color: $dark;
}

.outer-glow-dark {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 40px;
}

.outer-glow-dark-hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 40px;
}

.fixedPosition {
  position: fixed;
  background-color: red !important;
  color: red !important;
}

.top-offset-content {
  height: $navbar-height !important;
}

.font-size-normal {
  font-size: 1rem;
}

//
//  buttons, input fields
//

input, button {
  height: 50px !important;
}

a.btn {
  padding: 0.75rem 0.75rem;
}

input {
  border-color: $muted-light !important;
  color: $dark !important;

  &::placeholder {
    color: $grey !important;
  }

  &:focus {
    box-shadow: none !important;
    border-color: $input-focus-color !important;
  }
}

input.input-dark {
  background-color: $dark;
  color: $grey !important;
  border-color: rgba(255, 255, 255, 0.2) !important;

  &::placeholder {
    color: $grey !important;
  }

  &:focus {
    background-color: $dark;
    box-shadow: none !important;
    border-color: $grey !important;
  }
}


.input-icon {
  position: relative;

  & i {
    color: $grey;
    position: absolute;
    top: 50%;
    left: 13px;
    transform: translateY(-50%);
  }

  & input {
    padding-left: 50px;
  }
}

.icon-block {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

//
// dividers
//

.divider {
  border-bottom: $muted-light solid 1px;
  position: relative;
}

.divider-dark {
  border-bottom: rgba(255, 255, 255, 0.1) solid 1px;
}

.divider-text {
  border-radius: 50%;
  border: 1px solid $muted-light;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: absolute;
  height: 35px;
  width: 35px;
  top: 0;
  transform: translate(-50%, -50%);
  left: 50%;
  font-size: 10px;
  font-weight: bold;
}

//
// links
//

.link-black-yellow {
  color: $dark;
  text-decoration: none !important;
}

//
// Truncating text
//

.truncate-text {
  white-space: nowrap;      /*keep text on one line */
  overflow: hidden;         /*prevent text from being shown outside the border */
  text-overflow: ellipsis;  /*cut off text with an ellipsis*/
}

//
// blank page
//

.blank-page {
  top: 0;
  z-index: 9990;
}

//
// borders
//

.border-yellow-top {
  border-top: 0.25rem solid $yellow;
}

@media only screen and (min-width : 768px) {
  .border-md-right {
    border-right: 1px solid $muted-light;
  }
}

//
// heights, widths
//

.scroll-small {
  overflow-y: auto;
}

@media only screen and (max-width : 576px) {
  .h-sm-100 {
    height: 100%;
  }

  .border-sm-0 {
    border: none
  }
}

//
// pagination
//

.pagination-style /deep/ .ngx-pagination {
  margin: 0;
  padding: 0;
  font-size: 16px !important;
  text-decoration: none !important;

  li a:hover {
    text-decoration: none !important;
  }

  li a:focus {
    outline: none !important;
  }

  li {
    font-size: 1rem !important;

    &.current {
      background: transparent;
      color: $yellow;
      font-weight: bold;
      font-size: 1rem !important;
    }
  }
}
