.outer-glow-dark {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 40px ;
}

input, button {
  height: 50px !important;
}

input {
  border-color: $muted-light !important;
}

.divider {
  border-bottom: $muted-light solid 1px;
}

.divider-dark {
  border-bottom: rgba(255, 255, 255, 0.1) solid 1px;
}

.fixedPosition
{
  position: fixed;
  background-color: red !important;
  color: red !important;
}

.icon-block {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}