<div class="card border-yellow-top w-100">
    <div class="card-body">
        <h4 class="mb-3 font-weight-bold text-primary">Reset password</h4>
        <p class="my-5">In case you lost your password, fill in your email address and you'll receive an email with instructions to reset your password.</p>

        <form novalidate [formGroup]="resetPasswordForm" (ngSubmit)="reset()">


            <!-- Input fields -->

            <beerless-input [id]="'emailResetPassword'" [type]="'email'" [label]="'Email'"
                            [formControl]="resetPasswordForm.get('email')"
                            [errorTypes]="['required', 'email']"
                            [errorMessages]="['Enter your email!', 'Enter a valid email!']"
                            formControlName="email"
            ></beerless-input>


            <!-- Error and success messages -->

            <beerless-server-side-messages [messages]="serverSideMessages"></beerless-server-side-messages>


            <!-- Submit form -->

            <div class="form-group text-center">
                <button class="btn btn-primary text-white px-5" type="submit"
                        [disabled]="resetPasswordForm.invalid">Get instructions
                </button>
            </div>
        </form>
    </div>
</div>
