<div class="card border-yellow-top w-100">
    <div class="card-body">
        <h4 class="mb-3 font-weight-bold text-primary">Reset password</h4>
        <p class="my-5">In case you lost your password, fill in your email address and you'll receive an email with instructions to reset your password.</p>

        <form novalidate [formGroup]="resetPasswordForm" (ngSubmit)="reset()">


            <!-- Input fields -->

            <div class="form-group mb-3">
                <div class="input-icon">
                    <input type="text" class="form-control" placeholder="Email"
                           formControlName="email" id="emailResetPassword">
                    <i class="fas fa-envelope"></i>
                </div>
                <div class="invalid-input"
                     *ngIf="resetPasswordForm.get('email').touched && resetPasswordForm.get('email').invalid">
                    <div *ngIf="resetPasswordForm.get('email').hasError('required')">
                        Fill in your email!
                    </div>
                    <div *ngIf="resetPasswordForm.get('email').hasError('email')">
                        Fill in a valid email!
                    </div>
                </div>
            </div>


            <!-- Submit form -->

            <div class="form-group text-center">
                <button class="btn btn-primary text-white px-5" type="submit"
                        [disabled]="resetPasswordForm.invalid">Get instructions
                </button>
            </div>
        </form>
    </div>
</div>
