<div class="page-header">
    <div class="container">
        <span class="page-header-title">Account instellingen</span>
    </div>
</div>
<div class="container pb-5">
    <tabset id="tabset-tabs">
        <tab heading="Profiel" id="settings-users-profile">
            <app-settings-profile [user]="user" *ngIf="user"></app-settings-profile>
        </tab>
        <!--<tab heading="Sociaal" id="settings-users-social">-->
            <!--haha-->
        <!--</tab>-->
        <!--<tab heading="Privacy" id="settings-users-privacy">-->
            <!--haha-->
        <!--</tab>-->
    </tabset>
</div>
