<div class="card border-0 outer-glow-dark" id="heroSubscribeCard">
    <div class="card-body p-4">
        <!-- action nog toevoegen -->
        <form>
            <h4 class="mt-2 mb-4 pb-2">Meld je nu <span class="text-yellow font-weight-bold">gratis</span> aan</h4>
            <div class="form-group mb-3 input-icon">
                <input type="text" class="form-control" placeholder="Gebruikersnaam">
                <i class="fas fa-user"></i>
            </div>
            <div class="form-group mb-3 input-icon">
                <input type="text" class="form-control" placeholder="Email-adres">
                <i class="fas fa-envelope"></i>
            </div>
            <div class="form-group mb-3 input-icon">
                <input type="text" class="form-control" placeholder="Wachtwoord">
                <i class="fas fa-unlock-alt"></i>
            </div>
            <div class="form-group mb-3 text-center">
                <button class="btn btn-primary text-white px-5" type="submit">Registreer</button>
            </div>
        </form>
    </div>
</div>
