<div id="search-bar-container" (blur)="showSuggestions = false" (clickOutside)="showSuggestions = false">


    <!-- input field (search) -->

    <div class="input-group mb-1" id="search-bar">
        <input type="text" class="form-control" placeholder="Search Beerless..."
               [value]="searchedValue"
               #value
               (keyup.enter)="search(value.value, searchedType)"
               (keyup)="suggest(value.value, $event)"
               (keydown)="select($event)"/>
        <div class="input-group-append">
            <i class="fas fa-search icon-search mouse-pointer" *ngIf="!(loadingResults$ | async) && !value.value"
               (click)="value.focus()"></i>
            <i class="fas fa-times search-delete mouse-pointer" *ngIf="!(loadingResults$ | async) && value.value"
               (click)="searchedValue = ''; value.focus(); clearResults()"></i>
            <div class="search-load" *ngIf="(loadingResults$ | async)"></div>
        </div>

        <div ngbDropdown class="d-inline-block dropdown" placement="bottom-right">
            <button class="btn search-dropdown-button" id="dropdownBasic1" ngbDropdownToggle #searchDropdown
                    [value]="searchedType">
                <span class="d-sm-inline d-none">{{searchedType}}</span>
                <span class="d-sm-none d-inline">
                    <ng-container *ngIf="searchedType === 'Beer'">
                        <img [src]="environment.imageURL + '/icon/beer-glass.svg'" alt="beer icon"
                             class="search-dropdown-icon">
                    </ng-container>
                    <ng-container *ngIf="searchedType === 'Brewery'">
                        <img [src]="environment.imageURL + '/icon/brewery.svg'" alt="beer icon"
                             class="search-dropdown-icon">
                    </ng-container>
                </span>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <div ngbDropdownItem (click)="selectType('Beer')" class="search-dropdown-item">
                    Beer
                </div>
                <div ngbDropdownItem (click)="selectType('Brewery')" class="search-dropdown-item">
                    Brewery
                </div>
            </div>
        </div>
    </div>


    <!-- result text -->

    <small class="text-grey font-italic mb-5 position-absolute" *ngIf="totalResults > 0">
        <strong>
            {{ totalResults }}
            <span [ngbCollapse]="totalResults==1">results</span>
            <span [ngbCollapse]="totalResults!=1">result</span>
        </strong>
        for <strong>"{{searchedTerm}}"</strong>
    </small>


    <!-- suggestions -->

    <div id="search-suggestion-container"
         *ngIf="(suggestions[0]?.results?.length > 0 || suggestions[1]?.results?.length > 0) && showSuggestions">
        <div id="search-suggestions" class="shadow">
            <ng-container *ngFor="let result of suggestions; let i = index">
                <ng-container *ngIf="result.results.length > 0">
                    <div class="suggest-type">{{result.type}}</div>
                    <ng-container *ngFor="let suggestion of result.results; let i = index">
                        <div class="suggest-item"
                             (click)="search(suggestion.text, result.type); searchedType = result.type"
                             (keyup.enter)="suggestItem.click()"
                             (keydown)="select($event)"
                             [id]="i"
                             [tabIndex]="-1"
                             #suggestItem>
                            {{suggestion.text}}
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>
