<div class="card card-sm-100w component-chatbot">
    <div class="card-body">
        <div class="col-12 px-0 d-flex flex-wrap">
            <p class="small text-uppercase text-primary font-weight-bold mb-4 pb-0">Brewery profile</p>


            <!-- Brewery name and logo -->

            <div class="d-flex flex-row align-items-center col-12 px-0">
                <div class="float-left mr-4">
                    <img src="{{environment.imageURL + 'brewery/logo/' + item?.logo}}" alt="Logo {{item?.name}}"
                        class="bier-item-image" *ngIf="item?.logo">
                </div>
                <div>
                    <h4 class="font-weight-bold d-sm-block d-none">{{item?.name}}</h4>
                    <h6 class="font-weight-bold d-sm-none d-block">{{item?.name}}</h6>
                    <div>
                        <div *ngIf="item?.streetAndNumber?.length > 0">
                            <div>{{item?.streetAndNumber}}</div>
                            <div>{{item?.place || item?.province}}, {{item?.country}}</div>
                        </div>
                        <div *ngIf="item?.streetAndNumber?.length === 0">
                            --
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="mt-4 py-1">
                <beerless-text-truncate [text]="item?.description" [limit]="210" [truncateSymbol]="'...'"
                    [truncateText]="'Read more'"></beerless-text-truncate>
            </div>
            <div class="mt-4 w-100">


                <!-- Information in table (country, address, province, contact) -->

                <a *ngIf="item?.contact?.facebook?.length > 0" target="_blank" href="{{item?.contact.facebook}}" class="btn btn-social-icon btn-twitter text-large">
                    <span class="fab fa-facebook fa-2x"></span>
                </a>
                <a *ngIf="item?.contact?.twitter?.length > 0" target="_blank" href="{{item?.contact.twitter}}" class="btn btn-social-icon btn-twitter text-large">
                    <span class="fab fa-twitter fa-2x"></span>
                </a>
                <a *ngIf="item?.contact?.instagram?.length > 0" target="_blank" href="{{item?.contact.instagram}}" class="btn btn-social-icon btn-twitter text-large">
                    <span class="fab fa-instagram fa-2x"></span>
                </a>
                <a *ngIf="item?.contact?.website?.length > 0" target="_blank" href="{{item?.contact.website}}" class="btn btn-social-icon btn-twitter text-large">
                    <span class="fas fa-globe fa-2x"></span>
                </a>

            </div>
        </div>
    </div>
</div>