<div class="d-lg-block d-none">
    <div id="user-profile-picture">
        <div class="picture" [style.background-image]="'url(' + user?.picture + ')'"></div>
    </div>
</div>
<div class="mt-4 mb-lg-0 mb-5">
    <h4 class="font-weight-bold text-center">{{user?.firstName}} {{user?.lastName}}</h4>
    <div class="text-center small mb-4">
        <a [routerLink]="'/user/' + user?.username">@{{user?.username}}</a>
    </div>

    <div class="card border-0">
        <div class="card-body">
            <ng-container *ngIf="addressArray.length > 0">
                <p class="small">
                    <i class="fas fa-map-marker-alt mr-1"></i>
                    {{ addressArray.join(', ') }}
                </p>
            </ng-container>
            <ng-container *ngIf="user?.bio">
                <p class="small">
                    <beerless-text-truncate
                        [text]="user?.bio"
                        truncateSymbol="..."
                        truncateText="Show more"
                        limit="150"
                    ></beerless-text-truncate>
                </p>
            </ng-container>
        </div>
    </div>
</div>
