<div class="container py-5">
    <div class="col-12 px-0 d-flex flex-wrap">
        <div class="article-image position-relative"
             [style.background-image]="'url(' + environment.articlePictureURL + article?.picture + ')'">
            <div class="article-share-container">
                <small>
                    Delen <a href="" class="link-white-yellow ml-1"><i class="fab fa-twitter"></i></a>
                    <a href="" class="link-white-yellow ml-1"><i class="fab fa-facebook-f"></i></a>
                </small>
            </div>
            <div class="article-title-container">
                <small class="article-category" *ngIf="firsttag">{{firsttag?.name}}</small>
                <h2 class="article-title my-2 d-lg-block d-none">{{article?.title}}</h2>
                <h4 class="article-title my-2 d-lg-none d-md-block d-none">{{article?.title}}</h4>
                <h5 class="article-title my-2 d-md-none d-block">{{article?.title}}</h5>
                <small><i class="far fa-clock mr-1"></i>{{article?.timestampCreated | date: 'mediumDate' }} {{article?.timestampCreated | date: 'HHumm'}}</small>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7 col-12 pl-0 pr-md-3 pr-0">
            <div class="card article-content">
                <div class="p-md-5 p-3">
                    <p class="article-intro">
                        {{article?.intro}}
                    </p>
                    <div [innerHTML]="article?.content">
                        {{article?.content}}
                    </div>
                    <div class="article-footer">
                        <div class="d-flex flex-column">
                            <small><i class="fas fa-clock mr-1"></i>{{article?.timestampCreated | date: 'mediumDate' }} {{article?.timestampCreated | date: 'HHumm'}}</small>
                            <small *ngIf="firsttag"><i class="fas fa-tag mr-1 mt-2"></i> {{firsttag?.name}}</small>
                        </div>
                        <strong class="font-weight-bold small">
                            Delen <a href="" class="link-muted-yellow ml-1"><i class="fab fa-twitter"></i></a> <a
                                href="" class="link-muted-yellow ml-1"><i class="fab fa-facebook-f"></i></a>
                        </strong>
                    </div>
                    <div class="footer-next-articles text-dark">
                        <h5 class="font-weight-bold mb-3">Bekijk ook</h5>
                        <app-suggested-article-item
                        *ngFor="let article of otherArticles; let i = index"
                        [article]="article"
                        >
                        </app-suggested-article-item>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-5 col-12 pr-0 pl-md-3 pl-0">
            <div class="featured">
                <a routerLink="">
                    <div class="featured-image" style="background-image: url('src/assets/images/home_hero.jpg');">
                        <div class="featured-content">
                            <div>
                                <img src="src/assets/images/logo_beerless_wit.svg" alt="logo Beerless" class="mb-3" style="width: 50%">
                            </div>
                            <div>Intalleer de Beerless-app!</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="sticky-sidebar">
                <div class="popular-articles">
                    <h5 class="font-weight-bold mb-3">Populair</h5>
                    <app-suggested-article-item
                        *ngFor="let article of otherArticles; let i = index"
                        [article]="article"
                    >
                    </app-suggested-article-item>
                </div>
            </div>
        </div>
    </div>
</div>
