<!-- navigation -->
<beerless-navbar class="d-lg-block d-none" [sidebar]="true"></beerless-navbar>
<beerless-navbar-mobile class="d-lg-none d-block"></beerless-navbar-mobile>

<!-- reserve space for desktop navbar -->
<div class="top-offset-content bg-white d-lg-block d-none"></div>

<!-- sidebar navigation for admin -->
<beerless-sidebar></beerless-sidebar>

<div class="content-with-sidebar" [class.sidebar-open-content]="isOpen === true" [class.sidebar-close-content]="isOpen === false">
    <router-outlet></router-outlet>
</div>


<!-- footer -->
<!-- reserve space for navbar-mobile -->
<div class="bottom-offset-content bg-white d-lg-none d-block"></div>
<app-footer class="d-lg-block d-none"></app-footer>
