<div>
    <p>
        Hey Tom, there's only one more step to complete your account. Please enter a username and password.
    </p>

    <form novalidate [formGroup]="formCredentials" (ngSubmit)="updateCredentials()">
        <beerless-input [id]="'username'" [type]="'text'" [label]="'Username'"
                        [formControl]="formCredentials.get('username')"
                        [errorTypes]="['required', 'minlength', 'maxlength', 'pattern']"
                        [errorMessages]="['Enter your username!', 'Username must contain at least 3 characters!',
                                    'Username can contain a maximum of 25 characters!', 'Username can only contain letters, figures and hyphens!']"
                        formControlName="username"
        ></beerless-input>
        <beerless-input [id]="'password'" [type]="'password'" [label]="'Password'"
                        [formControl]="formCredentials.get('password')"
                        [errorTypes]="['required', 'minlength', 'pattern']"
                        [errorMessages]="['Enter a password!', 'Password must contain at least 8 characters!',
                                'Password must contain at least 1 letter, 1 capital letter and 1 figure!']"
                        formControlName="password"
        ></beerless-input>


        <!-- Error and success messages -->

        <beerless-server-side-messages [messages]="serverSideMessages"></beerless-server-side-messages>


        <!-- Submit form -->

        <div class="form-group text-center">
            <button class="btn btn-primary text-white px-5" type="submit"
                    [disabled]="formCredentials.invalid">Submit credentials
            </button>
        </div>
    </form>
</div>
