<div class="container">
    <div class="col-12 p-0 d-flex flex-row">
        <div class="col-md-8">
            <div class="card mt-5">
                <div class="card-header">
                    <strong>Bier toevoegen</strong>
                </div>
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mt-5">
                <div class="card-header">
                    <strong>Regels</strong>
                </div>
                <div class="card-body">
                    <ol>
                        <li>blabla</li>
                        <li>blabla</li>
                        <li>blabla</li>
                        <li>blabla</li>
                        <li>blabla</li>
                        <li>blabla</li>
                        <li>blabla</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
