<beerless-sticky-header>Add beer</beerless-sticky-header>
<div class="container pb-1">
    <div class="col-12 p-0 d-flex flex-lg-row flex-column pb-5">
        <div class="col-lg-7 pl-md-0 pr-lg-3 px-0 order-lg-0 order-1 mt-lg-0 mt-5">
            <tabset id="tabset-tabs">
                <tab heading="Toevoegen bier" id="tab1">
                    <app-add-beer></app-add-beer>
                </tab>
            </tabset>
        </div>
        <div class="col-lg-5 pr-md-0 pl-lg-3 px-0 order-lg-1 order-0">
            <div class="card border-yellow-top">
                <div class="card-header">
                    <strong>Richtlijnen bier toevoegen</strong>
                </div>
                <div class="card-body">
                    <p class="my-3"><strong>Als u deze richtlijnen niet volgt, kan het zijn dat uw toevoegrechten weggenomen zullen worden.</strong></p>
                    <ol class="pr-4 pl-4 pt-3">
                        <li class="mb-3">Het bier moet commercieel verkrijgbaar en in productie zijn.</li>
                        <li class="mb-3">Voeg geen dezelfde bieren toe, met een verschillende bottle-datum of houdbaarheidsdatum.</li>
                        <li class="mb-3">Voeg enkel bieren toe! Geen ciders, ginger beer, root beer, wijn, water, etc toevoegen.</li>
                        <li class="mb-3">Voeg geen datum toe aan de naam, tenzij deze deel is van de naam op het etiket.</li>
                        <li class="mb-3">Naam van het bier bevat geen brouwerij of biersoort.</li>
                        <li class="mb-3">Gebruik hoofdletters waar nodig! bv: <span class="text-success">Gouden Carolus Tripel</span> i.p.v. <span class="text-danger">gouden carolus tripel</span>.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
