<div class="page-header">
    <div class="container-no-m">
        <span class="page-header-title">{{beer?.name}}</span>
    </div>
</div>
<div>
    <div class="container">
        <div class="col-12 d-flex flex-md-row flex-column p-0">
            <div class="col-md-9 col-12 pl-md-0 px-0">
                <app-beerprofile [item]="beer"></app-beerprofile>
                <ng-container *ngFor="let brewery of beer?.breweries">
                    <app-beerbreweryprofile [item]="brewery"></app-beerbreweryprofile>
                </ng-container>
            </div>
            <div class="col-md-3 col-12 pr-md-0 px-0">

            </div>
        </div>
    </div>
</div>
