<div class="page-header">
    <div class="container-pageheader">
        <span class="page-header-title">Blog</span>
    </div>
</div>
<div class="container">
    <div class="col-12 px-0 d-flex flex-wrap">
        <div class="col-md-8 col-12 pl-0 pr-md-3 pr-0">
            <div class="card-columns">
                <app-article-item
                    *ngFor="let article of articlesList; let i = index"
                    [article]="article"
                    [user]="article.user"
                >

                </app-article-item>
            </div>
        </div>
        <div class="col-md-4 col-12 pl-md-3 pl-0 pr-0 position-relative mt-md-0 mt-5">
            <div class="sticky-sidebar">
                <!--Search field-->
                <div class="form-group mb-1 input-icon">
                    <input type="text" class="form-control" placeholder="Zoek een blogpost"
                           #blog
                           (blur)="getBlogsByName(blog.value)"
                           (keyup.enter)="blog.blur()">
                    <i class="fas fa-search"></i>
                </div>
                <!--Tags-->
                <div class="mt-4 pt-2 mb-4">
                    <p class="">Tags</p>
                    <span class="badge badge-pill badge-primary text-white py-2 px-3 mr-2 mb-2 font-waight-normal" *ngFor="let tag of tagsList" >{{ tag['name'] }}</span>
                </div>
                <!--Categories-->
                <div class="mb-5">
                    <p>Categoriën</p>
                    <div class="small">
                        <div class="border-bottom text-grey mb-2 pb-2">
                            <a routerLink="" class="link-muted-yellow">Biernieuws</a>
                            <span class="badge badge-pill badge-light text-grey float-right">156</span>
                        </div>
                        <div class="border-bottom text-grey mb-2 pb-2">
                            <a routerLink="" class="link-muted-yellow">Foodpairing</a>
                            <span class="badge badge-pill badge-light text-grey float-right">23</span>
                        </div>
                        <div class="border-bottom text-grey mb-2 pb-2">
                            <a routerLink="" class="link-muted-yellow">Brouwen</a>
                            <span class="badge badge-pill badge-light text-grey float-right">18</span>
                        </div>
                        <div class="border-bottom text-grey mb-2 pb-2">
                            <a routerLink="" class="link-muted-yellow">Brouwerijen</a>
                            <span class="badge badge-pill badge-light text-grey float-right">43</span>
                        </div>
                        <div class="border-bottom text-grey mb-2 pb-2">
                            <a routerLink="" class="link-muted-yellow">Evenementen</a>
                            <span class="badge badge-pill badge-light text-grey float-right">48</span>
                        </div>
                        <div class="border-bottom text-grey mb-2 pb-2">
                            <a routerLink="" class="link-muted-yellow">Onderzoek</a>
                            <span class="badge badge-pill badge-light text-grey float-right">9</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
