<div class="card border-yellow-top d-block col-12">
    <div class="card-body">
        <h4 class="mb-3 font-weight-bold text-primary">Reset password</h4>
        <p class="my-5">Please fill in your new password.</p>

        <form novalidate [formGroup]="formResetPassword" (ngSubmit)="resetPassword()">


            <div formGroupName="passwords">


                <!-- Input fields -->

                <div class="form-group mb-3">
                    <div class="input-icon">
                        <input type="password" class="form-control" placeholder="New password"
                               formControlName="password" id="password">
                        <i class="fas fa-unlock-alt"></i>
                    </div>
                    <div class="invalid-input"
                         *ngIf="formResetPassword.get('passwords').get('password').touched && formResetPassword.get('passwords').get('password').invalid">
                        <div *ngIf="formResetPassword.get('passwords').get('password').hasError('required')">
                            Fill in a password!
                        </div>
                        <div *ngIf="formResetPassword.get('passwords').get('password').hasError('minlength')">
                            Password must contain at least 8 characters!
                        </div>
                        <div *ngIf="formResetPassword.get('passwords').get('password').hasError('pattern')">
                            Password must contain at least 1 letter, 1 capital letter and 1 figure!
                        </div>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="input-icon">
                        <input type="password" class="form-control" placeholder="Repeat password"
                               formControlName="passwordRepeat" id="passwordRepeat">
                        <i class="fas fa-unlock-alt"></i>
                    </div>
                    <div class="invalid-input"
                         *ngIf="formResetPassword.get('passwords').get('passwordRepeat').touched && formResetPassword.get('passwords').get('passwordRepeat').invalid">
                        <div *ngIf="formResetPassword.get('passwords').get('passwordRepeat').hasError('required')">
                            Fill in a password!
                        </div>
                        <div *ngIf="formResetPassword.get('passwords').get('passwordRepeat').hasError('minlength')">
                            Password must contain at least 8 characters!
                        </div>
                        <div *ngIf="formResetPassword.get('passwords').get('passwordRepeat').hasError('pattern')">
                            Password must contain at least 1 letter, 1 capital letter and 1 figure!
                        </div>
                    </div>
                </div>
                <div *ngIf="formResetPassword.valid">
                    ok
                </div>
            </div>


            <!-- Submit form -->

            <div class="form-group text-center">
                <button class="btn btn-primary text-white px-5" type="submit"
                        [disabled]="formResetPassword.invalid">Change password
                </button>
            </div>
        </form>
    </div>
</div>
