<div class="card border-yellow-top d-block col-12">
    <div class="card-body">
        <h4 class="mb-3 font-weight-bold text-primary">Reset password</h4>
        <p class="my-5">Please fill in your new password.</p>

        <form novalidate [formGroup]="formResetPassword" (ngSubmit)="resetPassword()">


            <div formGroupName="passwords">


                <beerless-input [id]="'password'" [type]="'password'" [label]="'New password'"
                                [formControl]="formResetPassword.get('passwords').get('password')"
                                [errorTypes]="['required', 'minlength', 'pattern']"
                                [errorMessages]="['Enter a password!', 'Password must contain at least 8 characters!',
                                'Password must contain at least 1 letter, 1 capital letter and 1 figure!']"
                                formControlName="password"
                ></beerless-input>

                <beerless-input [id]="'passwordRepeat'" [type]="'password'" [label]="'Repeat password'"
                                [formControl]="formResetPassword.get('passwords').get('passwordRepeat')"
                                formControlName="passwordRepeat"
                ></beerless-input>
            </div>


            <!-- Error and success messages -->

            <p class="server-side-error-message" *ngIf="formResetPassword.get('passwords').get('password').touched && formResetPassword.get('passwords').get('passwordRepeat').touched && formResetPassword.invalid">Passwords don't match!</p>
            <beerless-server-side-messages [messages]="serverSideMessages"></beerless-server-side-messages>


            <!-- Submit form -->

            <div class="form-group text-center">
                <button class="btn btn-primary text-white px-5" type="submit"
                        [disabled]="formResetPassword.invalid">Change password
                </button>
            </div>
        </form>
    </div>
</div>
