<div class="approval-item" [class.active]="active" (click)="showEntry()">
    <div class="item-icon-container">
        <div class="item-icon">
            <ng-template [ngIf]="entry?.activity?.activityType?.name?.indexOf('create') !== -1">
                <i class="fas fa-plus"></i>
            </ng-template>
            <ng-template [ngIf]="entry?.activity?.activityType?.name?.indexOf('update') !== -1">
                <i class="fas fa-sync-alt"></i>
            </ng-template>
        </div>
    </div>
    <div class="item-content-container">
        <div class="item-title">{{ entry?.beerEntry?.name }}</div>
        <div class="item-subtitle">{{ entry?.activity?.user?.username}}</div>
    </div>
</div>
