<div class="card border-yellow-top p-0 border-sm-0">
    <div class="card-body p-sm-5 p-4 pt-5">
        <div class="d-flex flex-row">


            <!-- Message after sign-in up -->

            <div class="h-100 d-flex align-items-center" *ngIf="registrationSuccessful">
                <div>
                    <h3 class="mb-5 font-weight-bold text-primary">Congrats!</h3>
                    <h5 class="mb-3 text-muted">
                        You are now an official member of the best and nicest craftbeer community!
                    </h5>
                    <h5 class="mb-3 text-muted">
                        <a routerLink="/sign-in">Sign in</a> to start discovering Beerless
                    </h5>
                    <h5 class="mb-5 text-muted">
                        Thanks!
                    </h5>
                </div>
            </div>


            <!-- Signup form -->

            <div *ngIf="!registrationSuccessful">
                <h4 class="mb-3 font-weight-bold text-primary">Sign up</h4>
                <form novalidate [formGroup]="formRegister" (ngSubmit)="register()" autocomplete="off">
                    <div class="form-group mb-3">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="First name"
                                   id="firstName"
                                   formControlName="firstName">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="invalid-input"
                             *ngIf="formRegister.get('firstName').touched && formRegister.get('firstName').invalid">
                            <div *ngIf="formRegister.get('firstName').hasError('required')">
                                Fill in your first name!
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Last name"
                                   id="lastName"
                                   formControlName="lastName">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="invalid-input"
                             *ngIf="formRegister.get('lastName').touched && formRegister.get('lastName').invalid">
                            <div *ngIf="formRegister.get('lastName').hasError('required')">
                                Fill in your last name!
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Username"
                                   id="usernameRegister"
                                   formControlName="username">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="invalid-input"
                             *ngIf="formRegister.get('username').touched && formRegister.get('username').invalid">
                            <div *ngIf="formRegister.get('username').hasError('required')">
                                Fill in your username!
                            </div>
                            <div *ngIf="formRegister.get('username').hasError('minlength')">
                                Username must contain at least 3 characters!
                            </div>
                            <div *ngIf="formRegister.get('username').hasError('maxlength')">
                                Username can contain a maximum of 25 characters!
                            </div>
                            <div *ngIf="formRegister.get('username').hasError('pattern')">
                                Username can only contain letters, figures and hyphens!
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <div class="input-icon">
                            <input type="email" class="form-control" id="emailRegister"
                                   placeholder="Email"
                                   formControlName="email">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="invalid-input"
                             *ngIf="formRegister.get('email').touched && formRegister.get('email').invalid">
                            <div *ngIf="formRegister.get('email').hasError('required')">
                                Fill in your email!
                            </div>
                            <div *ngIf="formRegister.get('email').hasError('email')">
                                Fill in a valid email!
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <div class="input-icon">
                            <input type="password" class="form-control" placeholder="Password"
                                   id="passwordRegister"
                                   formControlName="password">
                            <i class="fas fa-unlock-alt"></i>
                        </div>
                        <div class="invalid-input"
                             *ngIf="formRegister.get('password').touched && formRegister.get('password').invalid">
                            <div *ngIf="formRegister.get('password').hasError('required')">
                                Fill in a password!
                            </div>
                            <div *ngIf="formRegister.get('password').hasError('minlength')">
                                Password must contain at least 8 characters!
                            </div>
                            <div *ngIf="formRegister.get('password').hasError('pattern')">
                                Password must contain at least 1 letter, 1 capital letter and 1 figure!
                            </div>
                        </div>
                    </div>


                    <!-- Server side error messages -->

                    <p class="invalid-input text-center" *ngFor="let msg of messageRegister">{{msg}}</p>


                    <!-- Warning messages -->

                    <div class="mb-3">
                        <small>
                            You must have the legal drinking age in your country in order to sign up at Beerless.
                            By <strong>signin up</strong>, you agree with our
                            <a href="https://www.beerless.be/assets/Voorwaarden/Privacy_Beleid_Beerless.pdf" target="_blank">terms and conditions</a>.
                        </small>
                    </div>


                    <!-- Submit form -->

                    <div class="form-group text-center">
                        <button class="btn btn-primary text-white px-5" type="submit"
                                [disabled]="formRegister.invalid">Sign up
                        </button>
                    </div>


                    <!-- Link to sign in -->

                    <p class="text-center small">
                        Already have an account?
                        <strong>
                            <a routerLink="/sign-in">Sign in</a>
                        </strong>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
