<div class="card card-sm-100w component-chatbot">
    <div class="card-body">
        <div class="col-12 px-0 d-flex flex-wrap">
            <p class="small text-uppercase text-primary font-weight-bold mb-4 pb-0">Brewery profile</p>


            <!-- Brewery name and logo -->

            <div class="d-flex flex-row align-items-center col-12 px-0">
                <div class="float-left mr-4">
                    <img src="{{environment.imageURL + 'brewery/logo/' + item?.logo}}" alt="Logo {{item?.name}}"
                        class="beer-item-image" *ngIf="item?.logo">
                </div>
                <div>
                    <h4 class="font-weight-bold d-sm-block d-none">{{item?.name}}</h4>
                    <h6 class="font-weight-bold d-sm-none d-block">{{item?.name}}</h6>
                    <div class="text-grey">
                        <ng-container *ngIf="item?.streetAndNumber">
                            <div>{{item?.streetAndNumber}}</div>
                        </ng-container>
                        <ng-container *ngIf="item?.place || item?.province || item?.country || item?.postcode">
                            <div>
                                <span *ngIf="item?.postcode">{{item?.postcode}} </span>
                                <span *ngIf="item?.place || item?.province">{{item?.place || item?.province}},</span>
                                {{item?.country}}
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="mt-4 py-1">
                <beerless-text-truncate [text]="item?.description" [limit]="210" [truncateSymbol]="'...'"
                    [truncateText]="'Read more'"></beerless-text-truncate>
            </div>
            <ng-container *ngIf="item?.contact">
                <div class="mt-4 w-100">
                    <p class="font-weight-bold small">Follow the brewery</p>


                    <!-- Social information -->

                    <div class="d-flex">
                        <a *ngIf="item?.contact?.facebook" target="_blank" href="{{item?.contact.facebook}}" class="brewery-social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a *ngIf="item?.contact?.twitter" target="_blank" href="{{item?.contact.twitter}}" class="brewery-social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a *ngIf="item?.contact?.instagram" target="_blank" href="{{item?.contact.instagram}}" class="brewery-social-icon">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a *ngIf="item?.contact?.website" target="_blank" href="{{item?.contact.website}}" class="brewery-social-icon">
                            <i class="fas fa-link"></i>
                        </a>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
