<div class="form-group">
    <ng-container *ngIf="formControl">
        <div class="border-lable-flt {{class}}" [class.invalid-input-error]="formControl.touched && formControl.invalid"
             [ngbTooltip]="tipContent" tooltipClass="errorTooltip" #errorTooltip="ngbTooltip" triggers="none">
            <textarea [(ngModel)]="value" class="form-control {{class}}" [id]="id"
                      [placeholder]="placeholder" [required]="required"
                      [rows]="rows" #textarea [maxlength]="maxCharacters"
                      disabled="{{class?.indexOf('readonly') > -1}}"></textarea>
            <label for="{{ id }}" (click)="textarea.focus()" class="mouse-pointer">{{ label }}</label>
            <ng-template #tipContent>
                <div *ngIf="formControl.touched && formControl.invalid" class="d-block">
                    <ng-container *ngFor="let errorType of errorTypes; let i = index">
                        <div *ngIf="formControl.hasError(errorType)">
                            {{ errorMessages[i] }}
                        </div>
                    </ng-container>
                </div>
            </ng-template>
            <i class="fas fa-exclamation-circle error-symbol" (mouseover)="errorTooltip.toggle()"
               (mouseout)="errorTooltip.toggle()"
               *ngIf="formControl.touched && formControl.invalid"></i>
            <div class="character-counter" *ngIf="characterCounter">{{(maxCharacters - textarea.value.length)}}</div>
        </div>
    </ng-container>

    <ng-container *ngIf="!formControl">
        <div class="border-lable-flt {{class}}">
            <textarea [(ngModel)]="value" class="form-control {{class}}" [id]="id"
                      [placeholder]="placeholder" [required]="required"
                      [rows]="rows" #textarea [maxlength]="maxCharacters"
                      disabled="{{class?.indexOf('readonly') > -1}}"></textarea>
            <label for="{{ id }}" (click)="textarea.focus()" class="mouse-pointer">{{ label }}</label>
        </div>
    </ng-container>
</div>
