<!--<div class="page-header">-->
<!--<div class="container">-->
<!--<span class="page-header-title">Tom Nuyts</span>-->
<!--</div>-->
<!--</div>-->
<div class="user-profile pb-5">
    <div class="user-profile-cover-picture-container"
         [class.user-profile-cover-picture-container-scroll]="coverTopMargin">
        <div class="user-profile-cover-picture" [style.background-image]="'url(' + (backgroundPictureSrc) + ')'">
            <div class="user-profile-cover-picture-gradient">
                <div class="container d-flex justify-content-end align-items-end">
                    <div class="col-xl-9 col-lg-8 mb-3 px-0 d-flex flex-wrap">
                        <div class="px-0 order-1 col-lg-12 col-0">
                            <div class="hide-scroll d-flex justify-content-between flex-row align-items-lg-end align-items-center">
                                <div class="d-flex align-items-center">
                                    <div class="mr-3">
                                        <div class="d-lg-none d-block mb-3">
                                            <div [style.background-image]="'url(' + (user?.picture || user?.usersocial[0].picture) + ')'"
                                                 class="user-profile-image"></div>
                                        </div>
                                    </div>
                                    <div>
                                        <h2 class="user-profile-name mb-lg-2 mb-1 d-lg-block d-none">{{user?.firstName}}
                                            {{user?.lastName}}
                                            <span class="badge badge-primary function-tag">18603</span>
                                        </h2>
                                        <h4 class="user-profile-name mb-lg-2 mb-1 d-lg-none d-sm-block d-none">{{user?.firstName}}
                                            {{user?.lastName}}
                                            <span class="badge badge-primary function-tag">18603</span>
                                        </h4>
                                        <h5 class="user-profile-name mb-lg-2 mb-1 d-sm-none d-block">{{user?.firstName}}
                                            {{user?.lastName}}
                                            <span class="badge badge-primary function-tag">18603</span>
                                        </h5>
                                        <p class="text-white mb-3 d-sm-block d-none">{{user?.place}}, {{user?.province}},
                                            {{user?.country}}</p>
                                    </div>
                                </div>
                                <div class="mb-3 d-sm-block d-none">
                                    <a routerLink="" class="btn btn-outline-light btn-small">
                                        <small class="p-0">
                                            <i class="fas fa-user-plus mr-md-2 mr-1 ml-1"></i> <span class="d-md-inline d-none">Vriend toevoegen</span>
                                        </small>
                                    </a>
                                </div>
                            </div>
                            <div class="show-scroll text-white">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="container-name-scroll d-flex align-items-center mb-lg-1 mb-0">
                                        <div class="mr-3">
                                            <div class="d-lg-none d-block">
                                                <div [style.background-image]="'url(' + (user?.picture || user?.usersocial[0].picture) + ')'"
                                                     class="user-profile-image"></div>
                                            </div>
                                        </div>
                                        <div>
                                            <h5 class="user-profile-name mb-0">{{user?.firstName}} {{user?.lastName}}
                                                <span class="badge badge-primary function-tag">18603</span>
                                            </h5>
                                            <p class="text-white mb-0 small d-sm-block d-none">
                                                {{user?.place}}, {{user?.province}}, {{user?.country}}
                                            </p>
                                        </div>
                                    </div>
                                    <a routerLink="" class="btn btn-outline-light btn-small d-sm-block d-none">
                                        <small>
                                            <i class="fas fa-user-plus mr-md-2 mr-1 ml-1"></i> <span class="d-md-inline d-none">Vriend toevoegen</span>
                                        </small>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="d-lg-none d-block order-0">

                            <div>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container position-relative d-flex flex-wrap"
         [class.user-profile-content-scroll]="coverTopMargin">
        <div class="col-xl-3 col-lg-4 pl-lg-0 pr-lg-3 px-0 top-margin-user-profile"
             [class.top-margin-user-profile-reset]="sidebarTopMargin">
            <div class="card shadow-lg" [class.user-sidebar-sticky]="sidebarSticky">
                <div class="card-img-top d-lg-block d-none"
                     [style.background-image]="'url(' + (user?.picture || user?.usersocial[0].picture) + ')'"></div>
                <div class="card-body">
                    <div class="text-grey small d-sm-none d-block">
                        <p class="font-weight-bold mb-0">
                            {{user?.firstName}} {{user?.lastName}}
                        </p>
                        <p>
                            {{user?.place}}, {{user?.province}}, {{user?.country}}
                        </p>
                    </div>
                    <div class="mt-1 mb-4 stats">
                        <p class="title">Stats</p>
                        <div class="d-flex flex-wrap justify-content-between">
                            <div class="stat">
                                <i class="fas fa-beer"></i>
                                <div class="stat-number-circle">
                                    <div class="stat-number">85</div>
                                </div>
                            </div>
                            <div class="stat">
                                <i class="fas fa-warehouse"></i>
                                <div class="stat-number-circle">
                                    <div class="stat-number">6</div>
                                </div>
                            </div>
                            <div class="stat">
                                <i class="fas fa-file-alt"></i>
                                <div class="stat-number-circle">
                                    <div class="stat-number">999</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bio">
                        <p class="title">Over {{user?.firstName}}</p>
                        <p class="small bio-text">
                            {{user?.bio | slice: 0:limit}}
                            <span [hidden]="moreShown">...</span>
                            <a [hidden]="moreShown" href
                               (click)="limit=user?.bio.length; moreShown = true; $event.preventDefault()"
                               class="ml-2 font-weight-bold"> Toon meer</a>
                            <a [hidden]="!moreShown" href (click)="limit=120; moreShown = false"
                               class="ml-2 font-weight-bold"> Toon minder</a>
                        </p>
                    </div>
                    <div class="d-sm-none d-block text-center mt-3">
                        <a routerLink="" class="btn btn-outline-primary btn-small">
                            <small class="p-0">
                                <i class="fas fa-user-plus mr-md-2 mr-1 ml-1"></i> Vriend toevoegen
                            </small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 mt-3 pt-3 pl-lg-3 px-0">
            <div class="card p-3 py-5 text-center" [hidden]="true">Deze gebruiker heeft nog geen activiteit!</div>
            <div class="card p-3 favourite-beer mb-3">
                <p class="small text-uppercase text-primary font-weight-bold mb-4 pb-0">Favoriet bier <i
                        class="fas fa-heart ml-1"></i></p>
                <div class="d-flex flex-row align-items-center justify-content-between">
                    <div class="">
                        <a routerLink="" class="link-black-yellow">
                            <h4 class="font-weight-bold d-md-block d-none">Gouden Carolus Classic</h4>
                            <h6 class="font-weight-bold d-md-none d-block">Gouden Carolus Classic</h6>
                        </a>
                        <a routerLink="" class="link-muted-yellow">Brouwerij Het Anker</a>
                    </div>
                    <div class="d-flex justify-content-end">
                        <img src="http://assets.beerless.be/assets/images/beer/logo/logo-brouwerij-het-anker-gouden-carolus-classic.jpg"
                             alt="Logo bierflesje {{item?.name}}" class="image-beer-profile bier-item-image">
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <h3 class="pt-3 mb-3 pb-3 grey-title">Recente activiteit</h3>
                <div class="card p-3">
                    <div class="activity">
                        <div>
                            <div class="d-flex flex-row align-items-center mb-3">
                                <div class="mr-3">
                                    <img src="{{user?.picture || user?.usersocial[0].picture}}"
                                         alt="" class="activity-image">
                                </div>
                                <div class="mr-3">
                                    <div>
                                        <span class="badge badge-pill badge-muted py-1 px-2">
                                            <small class="text-uppercase text-white font-weight-bold">Nieuw bier</small>
                                        </span>
                                    </div>
                                    <div class="my-2">
                                        <a routerLink="" class="font-weight-bold">{{user?.firstName}}
                                            {{user?.lastName}}</a> heeft
                                        een
                                        <a routerLink="" class="font-weight-bold">Gouden Carolus Classic</a> toegevoegd
                                        van
                                        <a routerLink="" class="font-weight-bold">Brouwerij Het Anker</a>.
                                    </div>
                                    <div>
                                        <small class="text-grey">12 december 2018</small>
                                    </div>
                                </div>
                                <div class="ml-auto">
                                    <img src="http://assets.beerless.be/assets/images/beer/logo/logo-brouwerij-het-anker-gouden-carolus-classic.jpg"
                                         alt="" class="activity-image">
                                </div>
                            </div>
                            <div class="divider mb-3"></div>
                        </div>
                        <div>
                            <div class="d-flex flex-row align-items-center mb-3">
                                <div class="mr-3">
                                    <img src="{{user?.picture || user?.usersocial[0].picture}}"
                                         alt="" class="activity-image">
                                </div>
                                <div class="mr-3">
                                    <div>
                                        <span class="badge badge-pill badge-muted py-1 px-2">
                                            <small class="text-uppercase text-white font-weight-bold">Nieuwe brouwerij</small>
                                        </span>
                                    </div>
                                    <div class="my-2">
                                        <a routerLink="" class="font-weight-bold">{{user?.firstName}}
                                            {{user?.lastName}}</a> heeft
                                        <a routerLink="" class="font-weight-bold">Brouwerij Het Anker</a> toegevoegd.
                                    </div>
                                    <div>
                                        <small class="text-grey">10 december 2018</small>
                                    </div>
                                </div>
                                <div class="ml-auto">
                                    <img src="http://assets.beerless.be/assets/images/beer/logo/logo-brouwerij-het-anker-gouden-carolus-classic.jpg"
                                         alt="" class="activity-image">
                                </div>
                            </div>
                            <div class="divider mb-3"></div>
                        </div>
                        <div>
                            <div class="d-flex flex-row align-items-center mb-3">
                                <div class="mr-3">
                                    <img src="{{user?.picture || user?.usersocial[0].picture}}"
                                         alt="" class="activity-image">
                                </div>
                                <div class="mr-3">
                                    <div>
                                        <span class="badge badge-pill badge-muted py-1 px-2">
                                            <small class="text-uppercase text-white font-weight-bold">Nieuw artikel</small>
                                        </span>
                                    </div>
                                    <div class="my-2">
                                        <a routerLink="" class="font-weight-bold">{{user?.firstName}}
                                            {{user?.lastName}}</a> heeft
                                        <a routerLink="" class="font-weight-bold">Dit zijn de beste bockbieren van
                                            Nederland!</a> toegevoegd aan de blog.
                                    </div>
                                    <div>
                                        <small class="text-grey">29 november 2018</small>
                                    </div>
                                </div>
                                <div class="ml-auto">
                                    <img src="http://assets.beerless.be/assets/images/beer/logo/logo-brouwerij-het-anker-gouden-carolus-classic.jpg"
                                         alt="" class="activity-image">
                                </div>
                            </div>
                            <div class="divider mb-3"></div>
                        </div>
                        <div class="text-center">
                            <a routerLink="/user/profile/{{user?.ID}}" class="my-3 text-primary font-weight-bold">Laad
                                meer...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>