.brewery-social-icon {
    background-color: $muted;
    color: #fff;
    height: 35px !important;
    width: 35px;
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    transition: background-color 0.2s;

    &:hover {
        text-decoration: none;
        color: #fff;
        background-color: $primary;
    }
}

.brewery-location {
    width: calc(100% + 40px);
    height: 200px;
    display: block;
    margin: -20px;
    //margin-top: 0;
}
