#search-bar-container {
    position: relative;

    #search-suggestion-container {
        position: absolute;
        bottom: 0;
        transform: translateY(100%);
        padding-top: 5px;
        width: 100%;
        z-index: 2;

        #search-suggestions {
            border: 1px solid $border-color;
            background-color: #fff;
            border-radius: 0.25rem;
            cursor: pointer;
            font-size: 0.8rem;

            .suggest-type {
                padding: ($spacer * 0.75) ($spacer * 1.25);
                background-color: $light;
                font-weight: bold;
            }

            .suggest-item {
                padding: ($spacer * 0.75) ($spacer * 1.25);
                border-bottom: 1px solid $light;

                &:hover, &:focus {
                    background-color: $super-light;
                    font-weight: 600;
                    outline: none;
                }

                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}

#search-bar {
    .form-control {
        position: relative;
        border-right: none;

        &::placeholder {
            color: $muted;
        }

        &:focus {
            border-color: $dark;
            box-shadow: none;

            & ~ .input-group-append {
                border-color: $dark;
            }

            & ~ .dropdown .search-dropdown-button {
                border-left-color: $dark;
            }
        }
    }

    .input-group-append {
        background-color: #fff;
        border: 1px solid $border-color;
        border-left: none;
        border-right: none;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        .icon-search, .search-delete {
            color: $grey;
            margin: auto 1rem;
        }

        .search-load {
            margin: auto 1rem;
            width: 16px;
            height: 16px;
            border: 2px solid transparent;
            border-top-color: $grey;
            border-left-color: $grey;
            border-radius: 50%;
            -webkit-animation: .4s linear infinite loading-bar-spinner;
            animation: .4s linear infinite loading-bar-spinner;
        }
    }
}

.search-dropdown-button {
    background-color: #fff;
    border-radius: 0 0.25rem 0.25rem 0;
    border: 1px solid $border-color;
    color: $grey;

    &:focus {
        border-color: $dark;
        box-shadow: none;

        & ~ .input-group-append {
            background-color: red !important;
        }
    }

    &::after {
        margin-left: ($spacer * 0.5);
    }

    & .search-dropdown-icon {
        height: 18px;
        //background-color: #fff;
        filter: invert(.5);
    }
}

.search-dropdown-item {
    color: $grey;
    padding: 0.5rem;
    cursor: pointer;

    &:hover {
        color: $dark;
        font-weight: 600;
        background-color: $super-light;
    }
}

app-search-item {
    .card {
        i {
            opacity: 0;
            color: $yellow;
            font-size: 20px;
            transition: opacity ease-in-out 0.25s;
        }

        &:hover {
            border-left: 0.25rem solid $yellow;

            i {
                opacity: 1;
            }
        }
    }
}
