#search-bar-container {
    position: relative;

    #search-suggestion-container {
        position: absolute;
        bottom: 0;
        transform: translateY(100%);
        padding-top: 5px;
        width: 100%;
        z-index: 2;

        #search-suggestions {
            border: 1px solid $border-color;
            //height: 200px;
            background-color: #fff;
            border-radius: 0.25rem;
            cursor: pointer;

            .suggest-item {
                padding: ($spacer * 0.75) ($spacer * 1.25);
                border-bottom: 1px solid $light;

                &:hover {
                    background-color: $super-light;
                    font-weight: 600;
                }

                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}
